:root{
    color-scheme: light dark;
}

body{
    margin: 0;
    line-height: 1.75em;
    font-family: "Roboto";
    font-weight: 100;
    color: light-dark(#333b3c, #cacaca);
    background-color: light-dark(#efedea, #2a2a2a);
}

.portfolio{
    text-align: center;
}

.header{
    overflow: hidden;
    padding: 10px 60px 10px 60px;
    display: flex;
    justify-content: space-between;
    background-color: light-dark(#efedea, #303030);
    margin-bottom: 100px;
}

.name{
    text-align: center;
    font-size: 25px;
}

.socialsContainer{
    align-content: center;
}

.socialLinks{
    line-height: 25px;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    transition: all .5s ease;
    color: inherit;
}

@media (prefers-color-scheme: light){
    .socialLinks:hover{
        cursor: pointer;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, .1), -5px -5px 20px white;
    }
}

@media (prefers-color-scheme: dark){
    .socialLinks:hover{
        cursor: pointer;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, .1), -5px -5px 20px rgb(0, 0, 0, .3);
    }
}

.wrapper{
    display: inline-block;
    text-align: left;
    max-width: 1010px;
    margin: 0 auto;
}

h1{
   font-family: "Roboto";
   font-weight: 100;
}

h3{
    font-family: "Roboto";
    font-weight: 100;
}

small{
    font-family: "Roboto";
    font-weight: 100;
}

.project-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
    padding-left: 0;
}

.project-item{
    background-size: cover;
    background-position: center center;
    position: relative;
    display: block;
    padding: 1.2em;
    width: 50%;
    box-sizing: border-box;
}


.back{
    z-index: 1;
}

.screen{
    position: relative;
    display: block;
    z-index: 10;
    overflow: hidden;
    text-decoration: none;
}

.screenPlaceholder{
    position: relative;
    display: block;
    z-index: 10;
    overflow: hidden;
    text-decoration: none;
}

.screen img:last-child{
    display:none;
}

.screen:hover img:first-child{
    display: none;
}

.screen:hover img:last-child{
    display: inline-block;
}

.image{
    object-fit: cover;
    max-width: 100%;
}

.tagsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tags{
    color: white;
    padding: 3px 10px 3px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: light-dark(#444c57, #313131) ;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: light-dark(#373e47,#1f1f1f);
    box-shadow: 6px 6px 0px #222222;
}

.footerContainer{
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

footer{
    display: inline-block;
}

.footer-text{
    font-size: 20px;
}

.linkedin{
    background-color: #0072b1;
    color: white;
    border: none;
    text-align: center;
    padding: 12px;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease .2s;
    box-shadow: 0px 3px 0 #003e5e, 
                0px 6px 0px #212121;
}

.linkedin:hover{
    opacity: .9;
    translate: 0 1px;
    box-shadow: 0px 2px 0 #003e5e, 
                0px 4px 0px #212121;
}

.svg{
    height: 15px;
    width: 15px;
}

.footerSocials{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
}

.github{
    background-color: #4f4f4f;
    color: white;
    border: none;
    text-align: center;
    padding: 12px;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease .2s;
    box-shadow: 0px 3px 0 #353535, 
                0px 6px 0px #212121;
}

.github:hover{
    opacity: .9;
    translate: 0 1px;
    box-shadow: 0px 2px 0 #353535, 
                0px 4px 0px #212121;
}


@media screen and (min-width: 200px) and (max-width: 699px) {
    /* iPhone 14, */
    .header{
        font-size: 10px;
        background-color: light-dark(#efedea, #2a2a2a);
        margin-bottom: 30px;
    }

    .name{
        display: none;
    }

    .socialsContainer{
        display: none;
    }

    .wrapper{
        text-align: center;
    }

    h1{
        text-align: center;
    }

    h3{
        text-align: center;
    }

    small{
        display: block;
        text-align:center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .project-grid{
        margin: 20px auto 0;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .project-item{
        width: 100vw;
    }

    .screen{
        z-index: 0;
        width: 100%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    h1{
        text-align: center;
    }

    h3{
        text-align: center;
    }

    .header{
        background-color: light-dark(#efedea, #303030);
    }

    small{
        display: block;
        text-align:center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1001px) {
    .image{
        min-height: 270px;
    }
}